<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>StamPunk Emblem Vault Verifier</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <style>
      body {
        color: white;
        background: url(bg2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      a {
        color: #85b1fd;
        text-decoration: underline;
      }
      h1 {
        font-size: 2rem;
      }
    </style>

    <div id="app">
      <center class="py-1 md:p-4">
        <img
          src="https://cryptopunks.app/cryptopunks/cryptopunk5963.png?size=2500&customColor=525252"
          class="mt-8 mb-2 rounded-full w-16"
        />
        <h1 class="mb-2">
          StamPunks Emblem Vault Opensea Verifier
        </h1>
        <h2 class="mb-4 w-1/2">
          Enter an opensea link to an emblem vault stampunk, and we will
          try to make sure this is a legit StamPunk.
        </h2>
        <input
          v-model="enteredLink"
          class="shadow appearance-none border rounded w-3/4 md:w-1/2 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          placeholder="Enter Opensea link to Emblem Vault listing of StamPunk"
          id="link"
        /><button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          @click="checkLegit()"
        >
          Check
        </button>

        <img v-show="loading" src="loader.gif" class="mt-4 mx-auto h-12" />

        <div class="w-3/5 mx-auto mt-6 text-lg">
          <div v-if="unableToDetermine" class="text-2xl">
            <div
              class="flex justify-center border-4 border-gray-500 p-2 m-2"
              style="color: rgb(196, 196, 29);"
            >
              <img src="yellow.webp" class="h-8 mr-2" /> Unable to determine. Use &nbsp;<a href="https://twitter.com/adamamcbride/status/1624205061751738374" target="_blank">manual method</a>&nbsp; to verify.
            </div>
          </div>
          <div v-else-if="fakeContract">
              <div
              class="text-2xl flex justify-center border-2 border-red-500 p-2 m-2"
              style="color: red;"
            >
              <img src="red.svg" class="h-8 mr-2" />
              Vault is fake.
            </div>
          </div>

          <div v-if="isLegitStamPunk" class="text-2xl">
            <div
              class="flex justify-center border-4 border-gray-500 p-2 m-2"
              style="color: rgb(196, 196, 29);"
            >
              <img src="yellow.webp" class="h-8 mr-2" /> This is a legit StamPunk, but please make sure the vault isn't flagged and compare the images below to see if they match!!!!!
            </div>
          </div>
          <div v-else-if="isLegitStamPunk === false"
              class="flex justify-center border-2 border-red-500 p-2 m-2"
              style="color: red;"
            >
            <img src="red.svg" class="h-8 mr-2" /> Not a legit StamPunk
          </div>

          <div v-if="flagged">
            <b>FLAGGED: </b>&nbsp;
            <div
              class="text-2xl flex justify-center border-2 border-red-500 p-2 m-2"
              style="color: red;"
            >
              <img src="red.svg" class="h-8 mr-2" />
              {{flagged}}
            </div>
          </div>

          <div v-if="tokenID">
            <b>Token ID:</b>&nbsp;
            <a
              target="_blank"
              :href="'https://opensea.io/assets/ethereum/0x82c7a8f707110f5fbb16184a5933e9f78a34c6ab/' + tokenID "
              >{{ tokenID }}</a
            >
          </div>
          <div v-if="vaultOwner">
            <b>View address on Emblem vault:</b>&nbsp;
            <a
              v-for="addy in vaultOwner"
              target="_blank"
              class="block"
              :href="'https://emblem.finance/nft?id=' + tokenID "
              >{{ addy }}</a
            >
          </div>
          <div v-if="vaultOwner">
            <b>View address on Xchain:</b>&nbsp;
            <a
              v-for="addy in vaultOwner"
              target="_blank"
              class="block"
              :href="'https://xchain.io/address/' + addy "
              >{{ addy }}</a
            >
          </div>
         

          <div>
            <div class="grid grid-cols-2 gap-4">
              <div>
                <div v-if="vaultImage">
                  <b>Vault Image:</b>&nbsp;
                  <img
                    style="height: 200px; image-rendering: pixelated;"
                    :src="'https://gateway.ipfs.io/ipfs/' + vaultImage "
                  >
                </div>
              </div>
              <div>
                <div v-if="encodedStampImage">
                  <b>Encoded Stamp Image:</b>&nbsp;
                  <img
                    style="height: 200px; image-rendering: pixelated;"
                    :src="'data:image/png;base64,' + encodedStampImage "
                  >
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="mt-16 opacity-70 text-xs w-1/2">Forked from <a href="https://twitter.com/Hustlaaaaaaaaaa" target="_blank">hustlas Bitcoin Punk verifier</a> for the <a href="https://stampunks.com/" target="_blank">StamPunks</a> community. <br />Not affiliated with StamPunks. <a href="https://github.com/crypt0biwan/emblem-verify.github.io" target="_blank">Source Code</a>
      </center>
    </div>

    <script>
      var app = Vue.createApp({
        data() {
          return {
            enteredLink: null,
            vaultOwner: null,
            tokenID: null,
            punkID: null,
            flagged: null,
            vaultImage: null,
            encodedStampImage: null,
            loading: false,
            unableToDetermine: false,
            isLegitStamPunk: null
          };
        },
        methods: {
          padNumber: function (num) {
            num = num.toString();
            while (num.length < 4) {
              num = "0" + num;
            }
            return num;
          },
          checkLegit: function () {
            this.vaultOwner = null;
            this.tokenID = null;
            this.punkID = null;
            this.flagged = null;
            this.vaultImage = null;
            this.encodedStampImage = null;
            this.loading = true;
            this.unableToDetermine = false;
            this.fakeContract = false;
            this.isLegitStamPunk = null;

            let link = this.enteredLink;
            let linkParts = link.split('#')[0].split('?')[0].split("/");
            let id = linkParts.pop();
            let contract = linkParts.pop();
            this.tokenID = id;

            if(contract == '0x82c7a8f707110f5fbb16184a5933e9f78a34c6ab') {
              fetch(
                "https://api2.emblemvault.io/meta/" + id + "?experimental=true",
                {
                  method: "GET",
                }
              )
                .then((res) => res.json())
                .then((res) => {
                  const btcCoin = res.addresses.find(
                    (coin) => coin.coin === "BTC"
                  );
                  this.vaultOwner = [btcCoin.address];

                  let punkID = res.name.match(/\d+/);
                  punkID = punkID ? punkID[0].replace("#", "") : ""
                  punkID = this.padNumber(punkID);
                  this.punkID = punkID;
                  console.log("Punk ID = ", punkID);

                  const isStampunk = res.attributes.filter(item => item.trait_type === 'StamPunks' && item.value === 'All StamPunks').length === 1
                  const flaggedProp = res.attributes.filter(item => item.trait_type === 'Flagged')[0]
                  
                  if(flaggedProp) {
                    console.log(flaggedProp)
                    this.flagged = flaggedProp.value
                  }

                  if(res.values.length === 1) {
                    this.vaultImage = res.image_ipfs

                    const xchainAsset = res.values[0].assetName

                    if(isStampunk) {
                      if(res.name.toLowerCase().includes("punk")) {
                        this.isLegitStamPunk = true

                        fetch("https://xchain.io/api/asset/" + xchainAsset, {
                          method: "GET"
                        })
                          .then((res) => res.json())
                          .then((res) => {

                            this.encodedStampImage = res.description.substr(6, res.description.length)

                            this.loading = false;
                          });
                      } else {
                        console.log("Unable to determine if this is a punk listing. The title does not contain a reference to punks.");
                        this.loading = false;
                        this.unableToDetermine = true;
                      }
                    } else {
                      console.log("Not a valid StamPunk, maybe it's a legit Emblem vault, but it doesn't contain a StamPunk");
                      this.loading = false;
                      this.isLegitStamPunk = false;
                    }
                  } else {
                      console.log("Unable to determine if this is a punk listing. There are more than 1 asset(s) in the vault.");
                      this.loading = false;
                      this.unableToDetermine = true;
                    }
                });
            } else {
              console.log("Incorrect contract address!");
              this.loading = false;
              this.fakeContract = true;
            }
          },
        },
        mounted() {
        }
      }).mount("#app");

    </script>
  </body>
</html>
